body {
  --color-font-main: #fff;
  --color-font-secondary: #313132;
  --back-ground-main: #000;
  --back-ground-secondary :#1E1E1E;
  --back-ground-search: #D4D4D4;
  --back-ground-keyboard: #5F5F5F;
}
